@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --cor-do-fundo: gray;
  --fonte: "Open Sans", sans-serif;
}

body {
  background-color: var(--cor-do-fundo);
  font-family: var(--fonte);
}

header {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  position: relative;
  max-width: 100%;
  display: inline;
  text-align: center;
}

.nav ul {
  border: 3px solid black;
  padding: 4px;
}

.nav ul li {
  display: inline-flex;
  border: 2px solid black;
  margin: 0px;
  max-width: 100%;
  padding: 0 6%;
}
