@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root /*variaveis*/ {
  --cor-do-fundo: gray;
  --fonte: "Open Sans", sans-serif;
}

body /*definiçoes do body*/ {
  background-color: var(--cor-do-fundo);
  font-family: var(--fonte);
}

.hea /*definições gerais do header*/ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-flow: row;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.hea div /*definições especficas das divs em geral*/ {
  /* border: 1px solid black; */
  padding: 10px;
}

.hea .hea1 /*defifiniçoes do header1*/ {
  flex: 0.5;
  text-align: right;
  padding-left: 0px;
}

.hea .hea2/*defifiniçoes do header2*/ {
  flex: 10;
  text-align: center;
}

.hea .hea3/*defifiniçoes do header3*/ {
  flex: 1;
  text-align: left;
  padding-right: 0px;
}

.nav /*definições gerais da nav*/ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-flow: row;
  border: 1px solid black;
  margin-bottom: 10px;
}

.nav div /*definições especficas das divs em geral*/ {
  border: 1px solid black;
  padding: 10px;
}

.nav .nav1 /*nav aba 1*/ {
  flex: 1;
  text-align: center;
}

.nav .nav2 /*nav aba 2*/ {
  flex: 1;
  text-align: center;
  background-color: red;
}

.nav .nav3 /*nav aba 3*/ {
  flex: 1;
  text-align: center;
}

.nav .nav4 /*nav aba 4*/ {
  flex: 1;
  text-align: center;
}

.nav .nav5 /*nav aba 5*/ {
  flex: 1;
  text-align: center;
}

.art {
  border: 1px solid black;
  display: grid;

  grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 10px;
  grid-template-rows: repeat(3, 1fr);
}

.art div {
  border: 2px solid black;
}

.art .box1 {
}

.art .box2 {
}

.art .box3 {
  grid-row: 1/4;
}
