@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root /*variaveis*/ {
  --cor-do-fundo: white;
  --fonte: "Open Sans", sans-serif;
  --corfonte: #3e3d3a;
}

body /*definiçoes do body*/ {
  background-color: var(--cor-do-fundo);
  font-family: var(--fonte);
  color: var(--corfonte);
}

.hea /*definições gerais do header*/ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-flow: row;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.hea div /*definições especficas das divs em geral*/ {
  /* border: 1px solid black; */
  padding: 5px;
}

.hea .hea1 /*defifiniçoes do header1*/ {
  flex: 1;
  text-align: right;
  padding-left: 0px;
}

.hea .hea2/*defifiniçoes do header2*/ {
  flex: 6;
  font-size: 20px;
}

.hea .hea3/*defifiniçoes do header3*/ {
  flex: 1;
  text-align: left;
  padding-right: 0px;
}

.nav /*definições gerais da nav*/ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-flow: row;
  margin-bottom: 10px;
}

.nav div /*definições especficas das divs em geral*/ {
  border: 1px solid white;
  padding: 10px;
}

.nav .nav1 /*nav aba 1*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(59, 89, 152, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

.nav .nav2 /*nav aba 2*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    208deg,
    rgba(58, 62, 180, 1) 4%,
    rgba(131, 58, 180, 1) 17%,
    rgba(248, 30, 35, 1) 63%,
    rgba(252, 176, 69, 1) 100%
  );
}

.nav .nav3 /*nav aba 3*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    325deg,
    rgba(79, 206, 93, 1) 13%,
    rgba(255, 255, 255, 1) 84%
  );
}

.nav .nav4 /*nav aba 4*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    270deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(105, 201, 208, 1) 26%,
    rgba(147, 216, 221, 1) 43%,
    rgba(255, 255, 255, 1) 60%,
    rgba(238, 29, 82, 1) 93%
  );
}

.nav .nav5 /*nav aba 5*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(133, 200, 210, 1) 0%,
    rgba(156, 186, 209, 1) 16%,
    rgba(133, 169, 208, 1) 33%,
    rgba(109, 147, 207, 1) 50%,
    rgba(85, 122, 206, 1) 66%,
    rgba(62, 93, 204, 1) 82%,
    rgba(39, 60, 203, 1) 100%
  );
}

.art /*definições gerais da article*/ {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 200px 600px 600px;
  grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-2 box-3"
    "box-2 box-2 box-4";
  margin-bottom: 10px;
}

.art div /*definições especficas das divs em geral*/ {
  border: 2px solid black;
}

.art .box1 /*article aba 1*/ {
  grid-area: box-1;
}

.art .box2 /*article aba 1*/ {
  grid-area: box-2;
}

.art .box3 /*article aba 1*/ {
  grid-area: box-3;
}

.foot /*definições gerais da footer*/ {
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.foot .foot1 /*footer aba 1*/ {
  flex: 1;
  text-align: left;
}

.foot .foot2 /*footer aba 2*/ {
  flex: 1;
}

.foot .foot3 /*footer aba 3*/ {
  flex: 1;
}

.foot .foot4 /*footer aba 4*/ {
  flex: 1;
}

.box3 .asi /*definições gerais da aside*/ {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  text-align: center;
  height: 100%;
  max-height: 200px;
  margin-top: 16px;
}

.box3 .asi .asi1 /*aside aba 1*/ {
  flex: 1;
}

.box3 .asi .asi2 /*aside aba 2*/ {
  flex: 1;
}

.box3 .asi .asi3 /*aside aba 3*/ {
  flex: 1;
}

.box3 .asi .asi4 /*aside aba 4*/ {
  flex: 1;
}

.box3 .asi .asi5 /*aside aba 5*/ {
  flex: 1;
}

.box3 .asi .asi6 /*aside aba 6*/ {
  flex: 1;
}

.box3 .asi .asi7 /*aside aba 7*/ {
  flex: 1;
}

.box3 .asi .asi8 /*aside aba 8*/ {
  flex: 1;
}

.box3 .asi .asi9 /*aside aba 9*/ {
  flex: 1;
}

.nav div a {
  text-decoration: none;
}

.nav1 .nave1 {
  background-color: white;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  width: 200px;
  display: block;
}

.nav1:hover .nave1 {
  position: absolute;
  visibility: visible;
}

.nav2 .nave2 {
  background-color: white;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  width: 200px;
  display: block;
}

.nav2:hover .nave2 {
  position: absolute;
  visibility: visible;
}

.nav3 .nave3 {
  background-color: white;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  width: 200px;
  display: block;
}

.nav3:hover .nave3 {
  position: absolute;
  visibility: visible;
}

.nav4 .nave4 {
  background-color: white;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  width: 200px;
  display: block;
}

.nav4:hover .nave4 {
  position: absolute;
  visibility: visible;
}

.nav5 .nave5 {
  background-color: white;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  width: 200px;
  display: block;
}

.nav5:hover .nave5 {
  position: absolute;
  visibility: visible;
}
