@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

:root /*variaveis*/ {
  --cor-do-fundo: white;
  --fonte: "Poppins", sans-serif;
  --corfonte: #0d0d0d;
}

* {
  color: var(--corfonte);
  font-family: var(--fonte);
}

body /*definiçoes do body*/ {
  background-color: #b6caf2;
  font-family: var(--fonte);
}

.hea /*definições gerais do header*/ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-flow: row;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  min-width: 550px;
  background-color: #3084f2;
  border-radius: 20px;
}

.hea div /*definições especficas das divs em geral*/ {
  padding: 5px;
}

.hea .hea1 /*defifiniçoes do header1*/ {
  flex: 0.1;
  text-align: right;
  padding-left: 0px;
}

.hea .hea2/*defifiniçoes do header2*/ {
  flex: 6;
  font-size: 20px;
  text-align: center;
}

.hea .hea3/*defifiniçoes do header3*/ {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.nav /*definições gerais da nav*/ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-flow: row;
  margin-bottom: 10px;
  min-width: 550px;
}

.nav div /*definições especficas das divs em geral*/ {
  /* border: 2px solid white; */
  padding-top: 4px;
  border-radius: 15px;
}

.nav .nav1 /*nav aba 1*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(59, 89, 152, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

.nav .nav2 /*nav aba 2*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    208deg,
    rgba(58, 62, 180, 1) 4%,
    rgba(131, 58, 180, 1) 17%,
    rgba(248, 30, 35, 1) 63%,
    rgba(252, 176, 69, 1) 100%
  );
}

.nav .nav3 /*nav aba 3*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    325deg,
    rgba(79, 206, 93, 1) 13%,
    rgba(255, 255, 255, 1) 84%
  );
}

.nav .nav4 /*nav aba 4*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    270deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(105, 201, 208, 1) 26%,
    rgba(147, 216, 221, 1) 43%,
    rgba(255, 255, 255, 1) 60%,
    rgba(238, 29, 82, 1) 93%
  );
}

.nav .nav5 /*nav aba 5*/ {
  flex: 1;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(133, 200, 210, 1) 0%,
    rgba(156, 186, 209, 1) 16%,
    rgba(133, 169, 208, 1) 33%,
    rgba(109, 147, 207, 1) 50%,
    rgba(85, 122, 206, 1) 66%,
    rgba(62, 93, 204, 1) 82%,
    rgba(39, 60, 203, 1) 100%
  );
}

.art /*definições gerais da article*/ {
  /* border: 1px solid black; */
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 200px 600px 600px;
  grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-2 box-3"
    "box-2 box-2 box-3";
  margin-bottom: 10px;
  min-width: 550px;
}

.art div /*definições especficas das divs em geral*/ {
  /* border: 1px solid black; */
  border-radius: 20px;
}

.art .box1 /*article aba 1*/ {
  grid-area: box-1;
  background-color: #3084f2;
}

.art .box1 h1 /*article aba 1, definições título*/ {
  text-align: center;
}

.art .box2 /*article aba 1*/ {
  grid-area: box-2;
  z-index: 1;
  background-color: white;
}

.art .box3 /*article aba 1*/ {
  grid-area: box-3;
}

.foot /*definições gerais da footer*/ {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  min-width: 550px;
  border-radius: 20px;
  background-color: #3084f2;
}

.foot .foot1 /*footer aba 1*/ {
  flex: 1;
  text-align: left;
}

.foot .foot2 /*footer aba 2*/ {
  flex: 2;
}

.foot .foot3 /*footer aba 3*/ {
  flex: 2;
}

.foot .foot4 /*footer aba 4*/ {
  flex: 2;
}

.box3 .asi /*definições gerais da aside*/ {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  align-self: center;
}

.box3 .asi div /*definições especficas das divs em geral*/ {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}

.box3 .asi .asi1 /*aside aba 1*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(122, 255, 13, 1) 0%,
    rgba(222, 157, 11, 1) 25%,
    rgba(245, 15, 0, 1) 50%,
    rgba(97, 11, 222, 1) 75%,
    rgba(2, 206, 250, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi2 /*aside aba 2*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(0, 73, 97, 1) 0%,
    rgba(69, 189, 230, 1) 25%,
    rgba(0, 168, 224, 1) 50%,
    rgba(29, 80, 97, 1) 75%,
    rgba(0, 130, 173, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi3 /*aside aba 3*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(148, 93, 15, 1) 0%,
    rgba(1, 224, 68, 1) 25%,
    rgba(224, 132, 0, 1) 50%,
    rgba(118, 22, 224, 1) 75%,
    rgba(74, 7, 148, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi4 /*aside aba 4*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(142, 0, 148, 1) 0%,
    rgba(249, 115, 255, 1) 25%,
    rgba(215, 0, 224, 1) 50%,
    rgba(60, 148, 0, 1) 75%,
    rgba(188, 224, 164, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi5 /*aside aba 5*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(153, 59, 57, 1) 0%,
    rgba(224, 6, 0, 1) 25%,
    rgba(0, 224, 202, 1) 50%,
    rgba(148, 88, 0, 1) 75%,
    rgba(224, 160, 63, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi6 /*aside aba 6*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(94, 11, 224, 1) 0%,
    rgba(55, 224, 0, 1) 25%,
    rgba(165, 0, 224, 1) 50%,
    rgba(224, 216, 0, 1) 75%,
    rgba(224, 0, 193, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi7 /*aside aba 7*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(224, 102, 105, 1) 0%,
    rgba(224, 180, 22, 1) 25%,
    rgba(224, 0, 4, 1) 50%,
    rgba(22, 224, 78, 1) 75%,
    rgba(11, 32, 224, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi8 /*aside aba 8*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(0, 163, 84, 1) 0%,
    rgba(47, 112, 80, 1) 25%,
    rgba(14, 214, 0, 1) 50%,
    rgba(211, 55, 219, 1) 75%,
    rgba(115, 16, 163, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 .asi .asi9 /*aside aba 9*/ {
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(150, 138, 0, 1) 0%,
    rgba(87, 79, 0, 1) 25%,
    rgba(214, 196, 1, 1) 50%,
    rgba(227, 208, 0, 1) 75%,
    rgba(189, 173, 0, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav div a /*definições especficas dos links*/ {
  text-decoration: none;
}

.nav1 .nave1 /*caixa de span1*/ {
  background: linear-gradient(
    45deg,
    rgba(59, 89, 152, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  position: fixed;
  visibility: hidden;
  z-index: 5;
  max-width: 20%;
  display: block;
  border-radius: 20px;
}

.nav1:hover .nave1 /*definição do hover span1*/ {
  position: absolute;
  visibility: visible;
}

.nav2 .nave2 /*caixa de span2*/ {
  background: linear-gradient(
    208deg,
    rgba(58, 62, 180, 1) 4%,
    rgba(131, 58, 180, 1) 17%,
    rgba(248, 30, 35, 1) 63%,
    rgba(252, 176, 69, 1) 100%
  );
  position: fixed;
  visibility: hidden;
  z-index: 5;
  max-width: 20%;
  display: block;
  border-radius: 20px;
}

.nav2:hover .nave2 /*definição do hover span2*/ {
  position: absolute;
  visibility: visible;
}

.nav3 .nave3 /*caixa de span3*/ {
  background: linear-gradient(
    325deg,
    rgba(79, 206, 93, 1) 13%,
    rgba(255, 255, 255, 1) 84%
  );
  position: fixed;
  visibility: hidden;
  z-index: 5;
  max-width: 20%;
  display: block;
  border-radius: 20px;
}

.nav3:hover .nave3 /*definição do hover span3*/ {
  position: absolute;
  visibility: visible;
}

.nav4 .nave4 /*caixa de span4*/ {
  background: linear-gradient(
    270deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(105, 201, 208, 1) 26%,
    rgba(147, 216, 221, 1) 43%,
    rgba(255, 255, 255, 1) 60%,
    rgba(238, 29, 82, 1) 93%
  );
  position: fixed;
  visibility: hidden;
  z-index: 5;
  max-width: 20%;
  display: block;
  border-radius: 20px;
}

.nav4:hover .nave4 /*definição do hover span4*/ {
  position: absolute;
  visibility: visible;
}

.nav5 .nave5 /*caixa de span5*/ {
  background: linear-gradient(
    90deg,
    rgba(133, 200, 210, 1) 0%,
    rgba(156, 186, 209, 1) 16%,
    rgba(133, 169, 208, 1) 33%,
    rgba(109, 147, 207, 1) 50%,
    rgba(85, 122, 206, 1) 66%,
    rgba(62, 93, 204, 1) 82%,
    rgba(39, 60, 203, 1) 100%
  );
  position: fixed;
  visibility: hidden;
  z-index: 5;
  max-width: 20%;
  display: block;
  border-radius: 20px;
}

.nav5:hover .nave5 /*definição do hover span5*/ {
  position: absolute;
  visibility: visible;
}

.box2 .sec /*definição da section2*/ {
  /* border: 2px solid black; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: 1fr 4fr 4fr 4fr;
  grid-template-areas:
    "box-0 box-0 box-0"
    "box-1 box-2 box-3"
    "box-4 box-5 box-6"
    "box-7 box-8 box-9";
  margin-bottom: 10px;
  height: 100%;
  min-width: 550px;
  background-color: #b6caf2;
}

.box2 .sec div /*definições das divs da section2*/ {
  width: 100%;
  height: 100%;
}

.box2 .sec .sec0 /*aba div0 da section2*/ {
  grid-area: box-0;
  text-align: center;
  background-color: #45af47;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 .sec .sec1 /*aba div1 da section2*/ {
  background-color: #45af47;
  grid-area: box-1;
  text-align: center;
}

.box2 .sec .sec2/*aba div2 da section2*/ {
  background-color: #45af47;
  grid-area: box-2;
  text-align: center;
}

.box2 .sec .sec3 /*aba div3 da section2*/ {
  background-color: #45af47;
  grid-area: box-3;
  text-align: center;
}

.box2 .sec .sec4 /*aba div4 da section2*/ {
  background-color: #45af47;
  grid-area: box-4;
  text-align: center;
}

.box2 .sec .sec5 /*aba div5 da section2*/ {
  background-color: #45af47;
  grid-area: box-5;
  text-align: center;
}

.box2 .sec .sec6 /*aba div6 da section2*/ {
  background-color: #45af47;
  grid-area: box-6;
  text-align: center;
}

.box2 .sec .sec7 /*aba div7 da section2*/ {
  grid-area: box-7;
  background-color: #45af47;
  text-align: center;
}

.box2 .sec .sec8 /*aba div8 da section2*/ {
  background-color: #45af47;
  grid-area: box-8;
  text-align: center;
}

.box2 .sec .sec9 /*aba div9 da section2*/ {
  background-color: #45af47;
  grid-area: box-9;
  text-align: center;
}

.foot div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-top: 21px;
}

.hea1 .head1 {
  position: fixed;
  visibility: hidden;
  z-index: 5;
  display: block;
  background-color: white;
  border-radius: 10px;
}

.hea1:hover .head1 /*definição do hover span5*/ {
  position: absolute;
  visibility: visible;
}
